#include <tunables/global>

/usr/sbin/nginx {
 #include <abstractions/base>
 #include <abstractions/dovecot-common>
 #include <abstractions/nameservice>
 #include <abstractions/nis>
 #include <abstractions/openssl>
 #include <abstractions/postfix-common>

 capability dac_override,

 /usr/sbin/nginx mr,
 {{ nginx_log_dir }}/* w,
 {{ nginx_log_dir }}/access.log w,
 {{ nginx_log_dir }}/error.log w,
 {{ nginx_root_dir }}/* r,
 owner /etc/nginx/* r,
 owner /etc/nginx/conf.d/ r,
 owner /etc/nginx/modules-enabled/ r,
 /etc/nginx/sites-available/ r,
 /etc/nginx/sites-available/* r,
 /etc/nginx/sites-enabled/ r,
 /etc/nginx/sites-enabled/* r,
 owner /proc/sys/kernel/random/boot_id r,
 owner /run/nginx.pid rw,
 owner /usr/share/nginx/modules-available/* r,
 
 # Permitir red TCP
 network inet stream,
 network inet6 stream,

 # Denegaciones explícitas formativas
 deny /home/** rw,
 deny /root/** rw,
 deny /etc/shadow r,
}
	
