server {
    listen {{ nginx_port }};
    server_name localhost;

    root {{ nginx_root_dir }};
    index index.html;

    access_log {{ nginx_log_dir }}/{{ nginx_site_name }}.access.log;
    error_log {{ nginx_log_dir }}/{{ nginx_site_name }}.error.log;

    location / {
        try_files $uri $uri/ =404;
    }
}
